/*
 * We don't want transition effects because the presentation is used in a
 * screencast. Having effects on significantly increases required
 * bandwidth.
 */
.slide {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}
.sidebar {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}
